@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    color: rgb(30, 45, 15);
    font-weight: 700;
    padding: 0;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(254, 236, 164, 1)
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902
}

.wrapper .input_field {
    margin-bottom: 10px
}

.wrapper .input_field input[type=text],
.wrapper textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px
}

.wrapper textarea {
    resize: none;
    height: 80px
}

.wrapper .btn input[type=submit] {
    border: 0;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer
}

#error_message {
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0;
    text-align: center;
    font-size: 14px;
    transition: all .5s ease
}

.selector-for-some-widget {
    box-sizing: content-box
}

.cad {
    height: 45vw;
    width: 45vw;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d
}

.back,
.front {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: Lobster, cursive;
    border-radius: 2vw;
    position: absolute
}

.front {
    z-index: 2;
    backface-visibility: hidden
}

.back {
    z-index: 1;
    transform: rotateY(180deg)
}

.contain:hover .cad {
    transform: rotateY(180deg)
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000000px
}

@keyframes socio {
    0% {
        height: 3.0vw;
        width: 3.0vw
    }
    10% {
        height: 3.1vw;
        width: 3.1vw
    }
    20% {
        height: 3.2vw;
        width: 3.2vw
    }
    30% {
        height: 3.3vw;
        width: 3.3vw
    }
    40% {
        height: 3.4vw;
        width: 3.4vw
    }
    50% {
        height: 3.5vw;
        width: 3.5vw
    }
    60% {
        height: 3.6vw;
        width: 3.6vw
    }
    70% {
        height: 3.7vw;
        width: 3.7vw
    }
    80% {
        height: 3.8vw;
        width: 3.8vw
    }
    90% {
        height: 3.9vw;
        width: 3.9vw
    }
    100% {
        height: 4.0vw;
        width: 4.0vw
    }
}

.mySocial:hover {
    animation-name: socio;
    animation-duration: 4.0s;
    animation-iteration-count: infinite;
    animation-direction: normal
}