@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Josefin Sans', sans-serif
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid lawngreen;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: fit-content;
        width: 100%;
        min-width: 80%;
    }
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902
}

.wrapper .input_field {
    margin-bottom: 10px
}

.wrapper .input_field input[type=text],
.wrapper .input_field input,
.wrapper select,
.wrapper textarea,
.wrapper .input_field input[type=radio] {
    border: 0.005vw solid #000;
    width: 100%;
    padding: 10px
}

.wrapper textarea {
    resize: none;
    height: 80px
}

.wrapper .btn input[type=submit] {
    border: 0;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: goldenrod;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer
}

#error_message {
    margin-bottom: 20px;
    background: coral;
    padding: 0;
    text-align: center;
    font-size: 14px;
    transition: all .5s ease
}